Exploratory Data Analysis of "vehicles_us.csv"

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import math as mt
from scipy import stats
import streamlit as st
import plotly.express as px
import altair as alt

print("Helloworldooss hit")

Helloworldooss hit

In [2]:
#import csv file of vehicles information
vehicles = pd.read_csv("/Users/jking/Data_Science/Sprint4Project/vehicles_us.csv")

#vehicles.head()
vehicles.info()
vehicles.sample(6)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
35864,3750,2003.0,chevrolet trailblazer,excellent,6.0,gas,194000.0,automatic,SUV,custom,1.0,2018-09-22,10
15866,13500,2018.0,kia soul,like new,4.0,gas,38000.0,automatic,hatchback,NaN,NaN,2019-01-29,34
19744,3300,2010.0,dodge charger,fair,6.0,gas,147000.0,automatic,sedan,grey,1.0,2018-05-09,46
37712,11000,NaN,ford f-250,excellent,8.0,gas,131000.0,automatic,pickup,white,1.0,2018-08-26,17
49792,15995,2010.0,chevrolet tahoe,good,8.0,gas,NaN,automatic,SUV,NaN,1.0,2018-05-07,35
28678,8500,2015.0,toyota corolla,like new,4.0,gas,50633.0,automatic,sedan,NaN,NaN,2018-10-21,70

Based on what we see using .info() and .sample(), the columns('model_year', 'cylinders', 'odometer','paint_color', 'is_4wd') have missing values. We can also see that the columns('model_year', 'cylinders', 'odometer', 'is_4wd') are pointlessly using datatype float64, which takes up unecesary memory. I will go through each one of these columns to see what should been done about this missing values. I will also convert these float64 columns to int64. Finally I wll convert the 'date_posted' column to date time for convenience.

In [3]:
#function for quick analysis of missing values within column
def quick_column(column_name):
     print(vehicles[column_name].value_counts(dropna=False),'\n')
     print(vehicles[column_name].describe())
     print(vehicles[vehicles[column_name].isna()])

In [4]:
quick_column('model_year')
#Oldest Cars: 1908, Newest: 2019
#Median: 2011, Mean: ≈2009

# 3619/51525 missing values (≈7% of rows have NaN)
#No noticible coorelation between contents of rows with missing values in this column
#vehicles['model_year']=vehicles['model_year'].astype('Int64')

model_year
NaN       3619
2013.0    3549
2012.0    3468
2014.0    3448
2011.0    3375
          ...
1948.0       1
1961.0       1
1936.0       1
1949.0       1
1929.0       1
Name: count, Length: 69, dtype: int64

count    47906.000000
mean      2009.750470
std          6.282065
min       1908.000000
25%       2006.000000
50%       2011.000000
75%       2014.000000
max       2019.000000
Name: model_year, dtype: float64
       price  model_year                       model  condition  cylinders  \
1      25500         NaN                  ford f-150       good        6.0
20      6990         NaN             chevrolet tahoe  excellent        8.0
65     12800         NaN                  ford f-150  excellent        6.0
69      7800         NaN                  ford f-150   like new        8.0
72      3650         NaN              subaru impreza  excellent        NaN
...      ...         ...                         ...        ...        ...
51464   8890         NaN        ford f250 super duty       good        8.0
51465  34595         NaN                   gmc yukon  excellent        8.0
51487   1495         NaN                  ford f-150       fair        6.0
51488  21900         NaN  chevrolet silverado 3500hd  excellent        8.0
51508   4950         NaN     chrysler town & country  excellent        6.0

         fuel  odometer transmission      type paint_color  is_4wd  \
1         gas   88705.0    automatic    pickup       white     1.0
20        gas  147485.0    automatic       SUV      silver     1.0
65        gas  108500.0    automatic    pickup       white     NaN
69        gas   97510.0    automatic     truck       white     1.0
72        gas   74000.0    automatic     sedan        blue     1.0
...       ...       ...          ...       ...         ...     ...
51464     gas  135778.0    automatic     truck         red     1.0
51465     gas   86456.0    automatic       SUV      silver     1.0
51487     gas   15804.0       manual     truck       white     1.0
51488  diesel  203000.0    automatic     truck       white     1.0
51508     gas  150000.0    automatic  mini-van      silver     NaN

      date_posted  days_listed
1      2018-10-19           50
20     2018-08-05           28
65     2018-09-23           15
69     2019-02-20           39
72     2018-08-07           60
...           ...          ...
51464  2018-11-28           24
51465  2019-04-18           13
51487  2018-09-18           56
51488  2018-12-27           37
51508  2018-06-30           48

[3619 rows x 13 columns]

In [5]:
quick_column('cylinders')
# 5260/51525 missing values (≈10% of rows have NaN)
#No noticible coorelation between contents of rows with missing values in this column

#Least Cylinders: 3, Most Cylinders: 12
#Median: 6, Mean: ≈6
#vehicles['model_year']=vehicles['model_year'].astype('Int64')

cylinders
8.0     15844
6.0     15700
4.0     13864
NaN      5260
10.0      549
5.0       272
3.0        34
12.0        2
Name: count, dtype: int64

count    46265.000000
mean         6.125235
std          1.660360
min          3.000000
25%          4.000000
50%          6.000000
75%          8.000000
max         12.000000
Name: cylinders, dtype: float64
       price  model_year              model  condition  cylinders fuel  \
9       9200      2008.0        honda pilot  excellent        NaN  gas
36     10499      2013.0       chrysler 300       good        NaN  gas
37      7500      2005.0      toyota tacoma       good        NaN  gas
59      5200      2006.0  toyota highlander       good        NaN  gas
63     30000      1966.0       ford mustang  excellent        NaN  gas
...      ...         ...                ...        ...        ...  ...
51429   3250      2004.0       toyota camry       good        NaN  gas
51442  28990      2018.0          ford f150  excellent        NaN  gas
51460   5995      2007.0        ford fusion  excellent        NaN  gas
51477   6499      2007.0           acura tl       good        NaN  gas
51486   5895      2009.0   hyundai santa fe  excellent        NaN  gas

       odometer transmission         type paint_color  is_4wd date_posted  \
9      147191.0    automatic          SUV        blue     1.0  2019-02-15
36      88042.0    automatic        sedan         NaN     NaN  2018-05-05
37     160000.0    automatic       pickup         NaN     NaN  2018-07-22
59     186000.0    automatic          SUV       green     NaN  2018-12-20
63      51000.0       manual  convertible         red     NaN  2019-01-23
...         ...          ...          ...         ...     ...         ...
51429  179412.0    automatic        sedan         NaN     NaN  2018-07-02
51442   10152.0    automatic        truck       white     1.0  2018-06-13
51460   88977.0       manual        sedan      silver     NaN  2019-03-27
51477  112119.0    automatic        sedan       white     NaN  2018-06-22
51486       NaN    automatic        other        blue     NaN  2018-06-30

       days_listed
9               17
36              22
37              44
59               2
63              17
...            ...
51429           25
51442           47
51460           66
51477           28
51486           44

[5260 rows x 13 columns]

In [6]:
quick_column('odometer')

odometer
NaN         7892
0.0          185
140000.0     183
120000.0     179
130000.0     178
            ...
87836.0        1
172625.0       1
103597.0       1
167239.0       1
139573.0       1
Name: count, Length: 17763, dtype: int64

count     43633.000000
mean     115553.461738
std       65094.611341
min           0.000000
25%       70000.000000
50%      113000.000000
75%      155000.000000
max      990000.000000
Name: odometer, dtype: float64
       price  model_year                model  condition  cylinders fuel  \
3       1500      2003.0           ford f-150       fair        8.0  gas
15     17990      2013.0             ram 1500  excellent        8.0  gas
23      7500      2004.0        jeep wrangler       good        6.0  gas
24      3950      2009.0         chrysler 200  excellent        4.0  gas
25     11499      2017.0     chevrolet malibu   like new        4.0  gas
...      ...         ...                  ...        ...        ...  ...
51498  15900      2011.0      gmc sierra 1500  excellent        8.0  gas
51507  29500      2012.0        toyota tundra       good        8.0  gas
51516   8999      2011.0  jeep grand cherokee       good        6.0  gas
51519  11750      2015.0         honda accord  excellent        4.0  gas
51524   6300      2014.0        nissan altima       good        4.0  gas

       odometer transmission    type paint_color  is_4wd date_posted  \
3           NaN    automatic  pickup         NaN     NaN  2019-03-22
15          NaN    automatic  pickup         red     1.0  2018-05-15
23          NaN    automatic     SUV         red     1.0  2018-05-17
24          NaN    automatic   sedan         red     NaN  2018-06-11
25          NaN    automatic   sedan         NaN     NaN  2018-07-26
...         ...          ...     ...         ...     ...         ...
51498       NaN    automatic   truck         NaN     1.0  2019-01-25
51507       NaN    automatic  pickup        grey     1.0  2018-05-01
51516       NaN    automatic     SUV       white     1.0  2018-11-01
51519       NaN    automatic   coupe         NaN     NaN  2018-11-24
51524       NaN    automatic   sedan         NaN     NaN  2018-06-05

       days_listed
3                9
15             111
23              39
24              40
25              43
...            ...
51498           69
51507           31
51516           51
51519           89
51524           10

[7892 rows x 13 columns]

In [17]:
quick_column('paint_color')

paint_color
white     10029
NaN        9267
black      7692
silver     6244
grey       5037
blue       4475
red        4421
green      1396
brown      1223
custom     1153
yellow      255
orange      231
purple      102
Name: count, dtype: int64

count     42258
unique       12
top       white
freq      10029
Name: paint_color, dtype: object
       price  model_year                        model  condition  cylinders  \
0       9400        2011                       bmw x5       good        6.0
3       1500        2003                   ford f-150       fair        8.0
8      11500        2012                  kia sorento  excellent        4.0
12     18990        2012                     ram 1500  excellent        8.0
21      5250        2007                  toyota rav4       good        6.0
...      ...         ...                          ...        ...        ...
51502   7995        2011            chevrolet equinox   like new        4.0
51503   6595        2011             chevrolet malibu  excellent        4.0
51506  28900        2017  ford f150 supercrew cab xlt       good        6.0
51519  11750        2015                 honda accord  excellent        4.0
51524   6300        2014                nissan altima       good        4.0

      fuel  odometer transmission    type paint_color  is_4wd date_posted  \
0      gas    145000    automatic     SUV         NaN     1.0  2018-06-23
3      gas      <NA>    automatic  pickup         NaN     NaN  2019-03-22
8      gas    104174    automatic     SUV         NaN     1.0  2018-07-16
12     gas    140742    automatic  pickup         NaN     1.0  2019-04-02
21     gas    154000    automatic     SUV         NaN     NaN  2018-08-22
...    ...       ...          ...     ...         ...     ...         ...
51502  gas    111088    automatic     SUV         NaN     NaN  2019-04-01
51503  gas    100780    automatic   sedan         NaN     NaN  2019-02-27
51506  gas     49225    automatic  pickup         NaN     1.0  2019-04-11
51519  gas      <NA>    automatic   coupe         NaN     NaN  2018-11-24
51524  gas      <NA>    automatic   sedan         NaN     NaN  2018-06-05

       days_listed
0               19
3                9
8               19
12              37
21               8
...            ...
51502          175
51503           73
51506           25
51519           89
51524           10

[9267 rows x 13 columns]

In [18]:
quick_column('is_4wd')

is_4wd
NaN    25953
1.0    25572
Name: count, dtype: int64

count    25572.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: is_4wd, dtype: float64
       price  model_year           model  condition  cylinders fuel  odometer  \
2       5500        2013  hyundai sonata   like new        4.0  gas    110000
3       1500        2003      ford f-150       fair        8.0  gas      <NA>
4      14900        2017    chrysler 200  excellent        4.0  gas     80903
6      12990        2015    toyota camry  excellent        4.0  gas     79212
11      8990        2012    honda accord  excellent        4.0  gas    111142
...      ...         ...             ...        ...        ...  ...       ...
51520   9249        2013   nissan maxima   like new        6.0  gas     88136
51521   2700        2002     honda civic    salvage        4.0  gas    181500
51522   3950        2009  hyundai sonata  excellent        4.0  gas    128000
51523   7455        2013  toyota corolla       good        4.0  gas    139573
51524   6300        2014   nissan altima       good        4.0  gas      <NA>

      transmission    type paint_color  is_4wd date_posted  days_listed
2        automatic   sedan         red     NaN  2019-02-07           79
3        automatic  pickup         NaN     NaN  2019-03-22            9
4        automatic   sedan       black     NaN  2019-04-02           28
6        automatic   sedan       white     NaN  2018-12-27           73
11       automatic   sedan        grey     NaN  2019-03-28           29
...            ...     ...         ...     ...         ...          ...
51520    automatic   sedan       black     NaN  2018-10-03           37
51521    automatic   sedan       white     NaN  2018-11-14           22
51522    automatic   sedan        blue     NaN  2018-11-15           32
51523    automatic   sedan       black     NaN  2018-07-02           71
51524    automatic   sedan         NaN     NaN  2018-06-05           10

[25953 rows x 13 columns]

In [19]:
#convert 'date_posted' column to datetime64
vehicles['date_posted'] = pd.to_datetime(vehicles['date_posted'], format='%Y-%m-%d')
print(vehicles['date_posted'].head())

0   2018-06-23
1   2018-10-19
2   2019-02-07
3   2019-03-22
4   2019-04-02
Name: date_posted, dtype: datetime64[ns]